html, body {
    height: 100%;
    width: 100%;
}
.login-wrapper {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../Images/login-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-form {
    /*width: 99%;
    min-width: 330px;*/
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    border-radius: 3px;
}

.login-form h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #ffb536;
    text-align: justify;
    padding-top: 4px;
}
.login-form h2:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.login-logo {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
}
.login-logo img {
    width: 80%;
}