body {
}

.checkbox-inline{
    margin-top: 10px;
}

/*Sidebar Style*/
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    position: absolute;
    right: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}
#sidebar.active {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}
#sidebarCollapse{
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #333;
    color: #aaa;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #acacac;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}
#sidebar ul li:first-child a {
    border-top: 1px rgba(0,0,0,.3) solid;
}
#sidebar ul li a:hover {
    color: dimgray;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #222;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.footer-wrap {
    width: 100%;
    text-align: center;
}

/* Sub Page Navbar Style */
.navbar-inverse .navbar-nav > li > a{
    color: #fff;
}
.navbar-inverse .navbar-nav > li:hover > a {
    color: #cecece;
}
.navbar-override {
    width: auto;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
.dropdown-override {
    width: 100%;
    margin: 10px;
    
}

.container-full {
    margin: 0 auto;
    width: 100%;
}
.no-margin {
    margin-bottom: 0 !important;
}
.ml16{
    margin-left: 16px;
}
.cnt-min-width {
    min-width: 140px;
}
.text-center{
    text-align: center;
}
.mt50{
    margin-top: 50px;
}
.lbProfile {
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    -webkit-transition: .35s;
    -o-transition: .35s;
}
.nav-item .nav-link:hover .lbProfile {
    cursor: pointer;
    color: #cecece;
}
/* Profile */
.avatar-wrap {
    float: right;
    padding: 15px 30px;
    transition: height 350ms ease-in-out;
}
.nav-item.avatar {
    padding: 0;
}
.nav-item .nav-link {
    color: #fff;
    -webkit-transition: .35s;
    -o-transition: .35s;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.nav-item.avatar .dropdown-toggle img {
    height: 35px;
}
.rounded-circle {
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
}
.profile-dropdown{
    position: absolute;
    top: 53px;
    right: 25px;
    left:unset;
    width: 160px;
    float: right;
    padding: 8px 5px;
    text-align: center;
}
.profile-dropdown:hover a {
    padding: 6px 47px;
    background-color: #222;
    color: #fff;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
}
.profile-dropdown a{
    width: 100%;
}
.navbar-inverse {
    background-color: #252d47;
    border-color: #aaa;
}
.ui-widget-header .ui-icon {
    background-image: url("/images/ui-icons_444444_256x240.png") !important;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image:  url("/Images/ui-icons_444444_256x240.png") !important;
}
.form-group label {
    margin-bottom: 0 !important;
}